apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hpa-VAR_SERVICE_NAME
  namespace: VAR_NAMESPACE_KUBERNETES
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: VAR_SERVICE_NAME
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 90
     - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 90         
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 1
          periodSeconds: 60
