root = true

[*]
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_wrap_on_typing = false
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 4

[{*.kt,*.kts}]
ij_kotlin_code_style_defaults = kotlin_official
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_align_multiline_parameters = false
ij_kotlin_import_nested_classes = false
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_allow_trailing_comma = false

[{*.yaml,*.yml}]
indent_size = 2

[Makefile]
indent_style = space

[*.sh]
indent_style = space

[{*.md,COMMIT_EDITMSG}]
max_line_length = 72