services:
  mysql:
    image: mysql:8.4.4
    platform: linux/arm64
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "quickstart"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "mysql" ]
      interval: 10s
      timeout: 2s
      retries: 5
  wiremock:
    image: wiremock/wiremock:3.11.0
    ports:
      - "9561:9561"
    environment:
      WIREMOCK_OPTIONS: "--port 9561 --local-response-templating --verbose"
    volumes:
      - ./.docker/wiremock/__files:/home/wiremock/__files
      - ./.docker/wiremock/mappings:/home/wiremock/mappings
    healthcheck:
      test: ["CMD", "wget", "-q", "http://localhost:9561/__admin/health"]
      interval: 10s
      timeout: 2s
      retries: 5
  kafka:
    image: confluentinc/cp-kafka:7.8.0
    hostname: kafka
    ports:
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: "1"
      KAFKA_BROKER_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_LISTENERS: "PLAINTEXT://kafka:9092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:29092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
    healthcheck:
      test: [ "CMD", "nc", "-z", "kafka", "9092" ]
      interval: 10s
      timeout: 2s
      retries: 5
  redpanda-console:
    image: redpandadata/console:v2.8.2
    ports:
      - "8081:8080"
    environment:
      KAFKA_BROKERS: "kafka:9092"
    depends_on:
      kafka:
        condition: service_healthy
  localstack:
    image: localstack/localstack:4.1.1
    ports:
      - "4566:4566"
      - "8082:8080"
    environment:
      SERVICES: "s3"
      DEBUG: "0"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.docker/localstack:/etc/localstack/init/ready.d
