apiVersion: apps/v1
kind: Deployment
metadata:
  name: VAR_SERVICE_NAME
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: role
                    #alterar para In
                    operator: NotIn
                    #operator: In
                    values:
                    #adicionar nodegroup correspondente a BU - Ex: despesas
                      - workers
                      #- despesas
